.navbar-component{
    width: 100%;
}

.navbar-component ul>li{
    display:inline;
    padding: 0.5em;
    margin: 0.5em;
    border-width: 5px;
    color: rgb(114, 3, 3);
    border: 1px solid black;
}